@import "constants.scss";

header {
	background-color: #0a0a0af2 !important;
	transition: all .3s ease .15s;
	a img {height: 47px !important;}
}

.inner .image_gallery{
	padding: 8rem 0 5rem;
	background-color: $offwhite;
	h2 {
		@include subheader(1.5rem, 2rem, .2em);
		width: 100%;
		padding: 1rem 1.5rem;
		color: $darkGreen;
	}
	.content {
		padding: 0 1.5rem;
		max-width: 700px;
		margin: auto;
		.row {
			display: flex;
			justify-content: space-between;
			padding: 3% 0;
			.image_wrapper {
				width: 48%;
				height: auto;
				cursor: pointer;
				transition: box-shadow .4s ease;
				&:hover {
					box-shadow: 0px 1px 22px 3px rgba(0, 0, 0, .35);
				}
				img {
					opacity: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: opacity .85s ease-in-out;

					&.active {opacity: 1;}
				}
			}
		}
	}
}

#shade {
	display: none;
	position: fixed;
	z-index: 110;
	background-color: #000;
	opacity: .7;
	width: 200vw;
	height: 200vh;
	left: -50vw;
	top: -50vh;
}

#image_modal {
	display: none;
	position: fixed;
	z-index: 111;
	top: 60px;
	height: 90vh;
	left: 50%;
	transform: translateX(-50%);

	.modal_close {
		position: absolute;
		right: 0;
		top: -37px;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 80px;
		cursor: pointer;
		p {
			color: #fff;
			font-weight: 300;
			font-family: $mainFont;
			font-size: 24px;
			margin: 0;
			line-height: 0;
			padding-bottom: 3px;
		}
	}

	.close_modal {
		font-size: 25px;
		color: $offwhite;
	}
	img {
		width: 100%;
		height: auto;
		width: auto;
		max-width: 90vw;
		max-height: 90vh;
		border: 1.5rem solid $offwhite;
	}
}