@import "constants.scss";

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}

body {
    text-align: left;
    font-size: 20px;
    color: $mainColor;
    margin: 0;
}

p {
	font-family: $mainFont;
	columns: $mainColor;
	font-size: .9rem;
	text-align: left;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1.5rem;
    z-index: 1000;

    .contain {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a img {
            height: 60px;
            transition: height .4s ease;
        }
        #menu_btn {
            height: 25px;
            width: 30px;
            position: relative;
            cursor: pointer;

            i {
                position: absolute;
                width: 30px;
                height: 3px;
                border-radius: 5px;
                left: 0;
                top: 0;
                background-color: $mainColor;
                transition: all .4s ease, opacity .2s ease .2s;
                
                &:nth-child(2) {
                    top: 10px;
                }
                &:nth-child(3) {
                    top: 20px;
                }
            }
            &.active {
                i {
                    top: 6px !important; 
                    width: 45px;

                    &:first-child {
                        transform: rotate(-135deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                        transition-delay: 0s;
                    }
                    &:nth-child(3) {
                        transform: rotate(135deg);
                    }
                }

            }
        }
    }

    &.scroll {
        background-color: #0a0a0af2;
        transition: all .3s ease .15s;
        a img {height: 47px;}
    }
}

footer {
	position: relative;
	h4 {
		@include subheader(1rem, 1.4rem, .1em);
		width: 100%;
		padding: 1rem;
		background-color: $mainColor;
		color: $offwhite;
	}
	.content {
		padding: 3rem 1rem 3rem;
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			color: $darkGreen;
			p {
				@include subheader(.9rem, 1.25rem, .08em);
				font-weight: 400;
				color: $darkGreen;
				margin: 0 0 0 .25rem;
			}
		}
		> div {
			h5 {
				@include subheader(1rem, 1.4rem, .09em);
				font-weight: 500;
				color: $mainColor;
				margin-bottom: .5rem;
			}
			.details {
				max-width: 250px;
				margin: 1rem auto 3rem;
				p {
					@include subheader(.9rem, 1.25rem, .08em);
					font-weight: 400;
					color: $darkGreen;
					&.address {
						font-size: .85rem;
						letter-spacing: .07em;
						margin-bottom: 1rem;
						color: $mainColor;
					}
				}
			}
		}
		
	}
}